<section class="play-page">

    <div class="play-content-container">

        <!-- TOP -->

        <div class="play-header">

            <button
                id="backToVideo"
                class="back-button"
            >
                ← Back
            </button>

            <h1 id="playTitle"></h1>

        </div>

        <!-- PLAYER -->

        <div class="play-video-container">

            <video
                id="playVideo"
                controls
                autoplay
                playsinline
            ></video>

            <div
                id="youtubePlayer"
                class="youtube-player"
            ></div>

        </div>

        <!-- SUBTITLES -->

        <div
            id="playSubtitles"
            class="play-subtitles"
        ></div>

    </div>

</section>