<nav class="bottom-nav">

    <button id="bottomExplore">
        <i class="fa-solid fa-compass"></i>
        <span>Explore</span>
    </button>

    <button id="bottomCourses">
        <i class="fa-solid fa-graduation-cap"></i>
        <span>Courses</span>
    </button>

    <button id="bottomLibrary">
        <i class="fa-solid fa-book"></i>
        <span>Library</span>
    </button>

    <button id="bottomDashboard">
        <i class="fa-solid fa-chart-line"></i>
        <span>Dashboard</span>
    </button>

    <button id="bottomMore">
        <i class="fa-solid fa-ellipsis"></i>
        <span>More</span>
    </button>

</nav>