<aside class="sidebar" id="sidebar">

    <nav class="menu">

        <a
            href="#"
            id="coursesButton"
            class="menu-item"
        >

            <i class="fa-solid fa-graduation-cap"></i>

            <span>
                Courses
            </span>

        </a>

        <a
            href="#"
            id="exploreButton"
            class="menu-item"
        >

            <i class="fa-solid fa-compass"></i>

            <span>
                Explore
            </span>

        </a>

        <a
            href="#"
            id="youtubeButton"
            class="menu-item"
        >

            <i class="fa-brands fa-youtube"></i>

            <span>
                YouTube
            </span>

        </a>

        <a
            href="#"
            id="netflixButton"
            class="menu-item"
        >

            <i class="fa-solid fa-film"></i>

            <span>
                Netflix
            </span>

        </a>

        <a
            href="#"
            id="libraryButton"
            class="menu-item"
        >

            <i class="fa-solid fa-book"></i>

            <span>
                My Library
            </span>

        </a>
        <a
            href="#"
            id="dashboardButton"
            class="menu-item"
        >

            <i class="fa-solid fa-chart-line"></i>

            <span>
                Dashboard
            </span>

        </a>

    </nav>

</aside>