<aside class="sidebar" id="sidebar">

    <nav class="menu">

        <a href="#" id="exploreButton" class="menu-item">
            <i class="fa-solid fa-compass"></i>
            <span>Explore</span>
        </a>

        <a href="#" id="coursesButton" class="menu-item">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Courses</span>
        </a>

        <a href="#" id="libraryButton" class="menu-item">
            <i class="fa-solid fa-book"></i>
            <span>Library</span>
        </a>

        <a href="#" id="dashboardButton" class="menu-item">
            <i class="fa-solid fa-chart-line"></i>
            <span>Dashboard</span>
        </a>

        <div class="menu-divider"></div>

        <a href="#" id="profileButton" class="menu-item">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>

        <a href="#" id="settingsButton" class="menu-item">
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
        </a>

        <a href="#" id="flashcardsButton" class="menu-item">
            <i class="fa-solid fa-layer-group"></i>
            <span>Flashcards</span>
        </a>

        <a href="#" id="achievementsButton" class="menu-item">
            <i class="fa-solid fa-trophy"></i>
            <span>Achievements</span>
        </a>

    </nav>

</aside>